/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    transition: background-color 0.5s, color 0.5s;
}

/* Light and Dark Mode */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
}

header {
    background: #007acc;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

main {
    padding: 1rem;
}

.project {
    margin: 1rem 0;
}

footer {
    background: #007acc;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
}
